
AppsterAndroid/Appster/app/build/
AppsterAndroid/Appster/facebookSDK/
AppsterAndroid/LibEmojicon/
AppsterAndroid/Appster/pulltorefresh/build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_pulltorefresh_arrow.png
AppsterAndroid/Appster/pulltorefresh/
AppsterAndroid/Appster/librarypulltorefresh/
AppsterAndroid/Appster/librarypulltorefresh/build/
AppsterAndroid/Appster/.idea/
AppsterAndroid/Appster/libArcMenuLayout/build/
AppsterAndroid/Appster/.gradle/
AppsterAndroid/Appster/build/
AppsterAndroid/Appster/local.properties

AppsterAndroid/Appster/photoview/build/
AppsterAndroid/Appster/photoview/src/main/gen/uk/co/senab/photoview/R.java
AppsterAndroid/Appster/photoview/src/main/gen/uk/co/senab/photoview/Manifest.java
AppsterAndroid/Appster/Appster.iml
AppsterAndroid/Appster/app/app.iml
AppsterAndroid/Appster/app/.externalNativeBuild
AppsterAndroid/Appster/captures
AppsterAndroid/Appster/app/prod/
AppsterAndroid/Appster/app/stag/
build/
/*/build/
bin/
.gradle/
local.properties
.signing/
.idea/
*.iml

.DS_Store
Thumbs.db
AppsterAndroid/Appster/app/findbugs-android-exclude.xml
*.apk
